    body {
        background-color: rgb(245, 245, 245);
    }
    div {
        font-family: 'Trebuchet MS', sans-serif;
        background-color: white;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-left: 30px;
        width: 300px;
        height: 220px;
        box-shadow: 0 0 20px 0 rgba(241, 241, 241, 0.842);
    }
    p {
        font-size: 18px;
        padding: 0 60px 20px 60px;
        text-align: center;
        color: rgb(121, 90, 151);
    }
    h6 {
        font-size:28px;
        text-align: center;
        color: #090e55;
        padding: 30px 20px 0 30px;
        margin-bottom: 10px;
    }
    a {
        background-color:rgb(185, 224, 250);
        color: black;
        font-weight: 700;
        font-size: 18px;
        border-radius: 500px;
        text-decoration: none;
        padding: 15px 80px;
        text-align: center;
        margin: 0 40px;
    }
